

body{
  background-color: silver;
  padding: 50px;
}



.cal-m-y{
  width: 100%;
  height: 20px;
  background-color: #0B0DA0;


  border-top: 3px solid rgba(80, 75, 75, 0.678);
  border-right: 2px solid rgba(170, 165, 165, 0.315);
  border-bottom: 1px solid #fff;
  border-left: 3px solid rgba(80, 75, 75, 0.945);

  display:flex;
  justify-content:space-between;
  align-items: center;
}
.cal-m-y{
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.cal-month{
  margin-right: 1rem;
}

.cal-arrow-left{
  width: 10px;
  height: 10px;
  background-color: #fff;
}


.cal-arrow-right{
  width: 10px;
  height: 10px;
  background-color: #fff;
}












/*  */

.cal-date{
  font-family: "Pixelated MS Sans Serif", Arial;
  border-collapse: collapse;

  border-top: 1 solid rgba(80, 75, 75, 0.945);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 3px solid rgba(80, 75, 75, 0.945);

}

.cal-weekdays{
  background-color: #BABCBB;
  border-bottom: 1px solid transparent;
  
}

th{
  border: 0;
  padding: 5px 7px;
  margin: 0;

}

td{
  border: 0;
  padding: 5px 7px;

}

.cal-cur-day{
  background-color: #BABCBB;
  text-align: center;
}

.deactive{
  color: grey;
}


