* {
  box-sizing: border-box;
}

body {
  background-color: #004e4d;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.winBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: bold;
}

.top-window {
  width: 100%;
  height: 95vh;
}

.apps {
  display: inline-block;
  text-align: center;
}

.apps span {
  margin: 0.5rem;
  display: inline-block;
  font-size: 0.5rem;
  font-family: px sans nouveaux !important;
  font-weight: lighter;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  border: 0.1rem dashed transparent;
}

.apps span:active {
  border: 0.1rem dashed #fff;
}

.start-bar {
  padding: 2px;
  box-shadow: inset 1px 0 #fff;
  display: block;
  background-color: silver;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #4e4e4e;
  position: fixed;
  user-select: none;
  display: flex;
  justify-content: flex-start;
}

.open-alert {
  transition: opacity 0.2s;
  position: absolute;
  left: 40%;
  top: 35%;
}

.open-alert-ok {
  display: flex;
  justify-content: flex-end;
  margin: 0 0.5rem 0.5rem 0;
}

.start-bar-window {
  display: inline-block;
  padding: 6px 10px 0 6px;
  margin-left: 1rem;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  vertical-align: middle;
  box-shadow: inset 1px 1px grey;
  font-size: 0.65rem;
  font-weight: bold;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);
}

.open-img {
  transition-property: opacity;
  transition-duration: 0.3s;
}

.rightMenu {
  display: none;
  position: absolute;
  font-weight: bold;
  z-index: 1;
}

.rightMenu p {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.menu-item {
  height: 1.4rem;
  display: flex;
}

.menu-item:hover {
  background-color: blue;
  color: #fff;
}

.disable {
  color: grey;
  text-shadow: text-shadow;
}

.my-computer {
  position: absolute;
  top: 10%;
  left: 20%;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.sys-pro {
  position: absolute;
  top: 10%;
  left: 35%;
  transition-property: opacity;
  transition-duration: 0.3s;
}
